<template>
  <script v-if="schema" type="application/ld+json" v-html="schema" />
</template>

<script>
  /* global BASE_URL */

  export default {
    name: 'JsonSchema',
    computed: {
      schema() {
        if (!this.$page.schema) {
          return '';
        }

        return this.$page.schema.replace(/REPLACE_WITH_PAGE_URL/g, `${BASE_URL}${this.$page.path}`);
      },
    },
  }
</script>